@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:wght@600&display=swap');

/* 
font-family: 'Archivo Black', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

html, body {
    margin: 0px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    letter-spacing: 1.5px; 
    /* overflow: visible; */
    /* overflow-y: scroll; */
}

* {
    box-sizing: border-box;
  }
*:focus {
    outline: none;
}
button:focus {outline:0;}

/* --------------- navbar -------------- */

.navv{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Raleway', sans-serif; 
    background: #191919;
    height: 80px;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  }
  label.logo{
    color: white;
    font-size: 45px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
  }
  .logo a:hover{
    color: #c84b31;
    transition: .5s;
  }
  .navv ul{
    float: right;
    margin-right: 40px;
  }
  .navv ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  .navv ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
  }
  .navv ul li a:hover{
    color: #c84b31;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    .navv ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 768px){
    .checkbtn{
      display: block;
    }
    ul{
        z-index: 10;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #191919;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .navv ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    .navv ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #c84b31;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

/* ------------------------- sec1 --------------------------- */

.sec1{
    background-color: whitesmoke;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.carousel-item img,video{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    clear: float;
    width: 100%;
    height: 100%;
    background-color: rgba(45,66,99, 0.7);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carousel-caption h5{
    font-family: 'Archivo Black', sans-serif !important;
    color: rgb(236, 219, 186);
    font-size: 85px;
    width: 50%;
}
.carousel-caption p{
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 1%;
    font-size: 22px;
    width: 50%;
}
.carousel-caption button{
    font-family: 'Raleway', sans-serif;
    background-color: #191919;
    margin-top: 1%;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    transition: .2s ease-in-out;
}
.carousel-caption button a{
    color: white;
    letter-spacing: 1.5px;
    font-size: 16px;
    transition: .2s ease-in-out;
}
.carousel-caption button:hover a{
    color: #c84b31;
}

/* ------------------------- sec2 --------------------------- */
.sec2{
    padding-top:4% ;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec2 h2{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #c84b31;
    padding-bottom: .5%;
}
.sec2 h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    color: #2d4263;
    padding-bottom: 1%;
}
.sec2 p{
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #c84b31;
    padding-bottom: 2%;
    text-align: justify;
}
.sec2 button{
    font-family: 'Raleway', sans-serif;
    background-color: #191919;
    margin-top: 1%;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    transition: .2s ease-in-out;
}
.sec2 button a{
    color: white;
    letter-spacing: 1.5px;
    font-size: 16px;
    transition: .2s ease-in-out;
}
.sec2 button:hover a{
    color: #c84b31;
}

.sec2-inner{
    padding-top: 4%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2-l{
    flex-basis: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.sec2-r{
    height: 100%;
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* ------------------------- sec3 --------------------------- */
.sec3{
    background-color: #2d4263;
    width: 100%;
    height: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.s3-t{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s3-t hr{
    border: 3px solid white;
    width: 400px;
}
.fa-landmark{
    font-size: 40px;
    padding: 0 2%;
}
.sec3 h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    color: #ecdbba;
    padding-top: .5%;

}

/* ------------------------- sec4 --------------------------- */
.sec4{
    width: 80%;
    margin: 0 auto;
    padding:4% 0;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.sec4 h2{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #c84b31;
    padding-bottom: .5%;
}
.sec4 h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    color: #2d4263;
    padding-bottom: 1%;
}
.sec4 p{
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #c84b31;
    padding-bottom: 2%;
    text-align: justify;
}
.s4-inner{
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.s4-box{
    width: 320px;
    height: 200px;
    background-color: whitesmoke;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.s4-box i{
    color: #c84b31;
    font-size: 40px;
    padding-bottom: 2%;
    padding-left: 4%;
}
.s4-box h1{
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-size: 25px;
    color: #2d4263;
    padding-bottom: 1%;
    padding-left: 4%;

}
.s4-box h2{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #c84b31;
    padding-bottom: .5%;
    width: 90%;
    padding-left: 4%;
}
.but{
    width: 100%;
    text-align: center;
}
.sec4 button{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #191919;
    margin-top: 2%;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    transition: .2s ease-in-out;
}
.sec4 button a{
    color: white;
    letter-spacing: 1.5px;
    font-size: 16px;
    transition: .2s ease-in-out;
}
.sec4 button:hover a{
    color: #c84b31;
}

/* ------------------------- sec5 --------------------------- */
.sec5{
    width: 90%;
    margin: 0 auto;
    padding:2% 0;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec5 h2{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #c84b31;
    padding-bottom: .5%;
}
.sec5 h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    color: #2d4263;
    padding-bottom: 1%;
}
.s5-inner{
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.s5-box{
    width: 500px;
    min-height: 630px;
    background-color: whitesmoke;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin:2% 1% ;
    display: flex;
    flex-direction: column;
}
.s5-box img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 2%;
}
.s5-boxx{
    display: flex;
    padding-bottom: 2%;
    padding-left: 4%;
}
.s5-boxx .fas{
    margin-top: .8%;
    margin-right: 2%;
}
.s5-boxx p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #191919;

}
.s5-box h1{
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    color: #2d4263;
    padding-bottom: 2%;
    padding-left: 4%;
}
.s5-box h2{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #c84b31;
    padding-bottom: 2%;
    width: 90%;
    padding-left: 4%;
}
.s5-box button{
    margin-left: 4%;
    font-family: 'Raleway', sans-serif;
    background-color: #191919;
    margin-top: 2%;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    transition: .2s ease-in-out;
}
.s5-box button a{
    color: white;
    letter-spacing: 1.5px;
    font-size: 16px;
    transition: .2s ease-in-out;
}
.s5-box button:hover a{
    color: #c84b31;
}

.sec5 button{
    font-family: 'Raleway', sans-serif;
    background-color: #191919;
    margin-top: 1%;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    transition: .2s ease-in-out;
}
.sec5 button a{
    color: white;
    letter-spacing: 1.5px;
    font-size: 16px;
    transition: .2s ease-in-out;
}
.sec5 button:hover a{
    color: #c84b31;
}

/* ------------------------- sec 6 --------------------------- */
.sec6{
    font-family: 'Raleway', sans-serif;
    display: grid;
    min-height: 500px;
    place-items: center;
    background: #2d4263;
}
.sec6 h2{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #ecdbba;
    padding-top: 3%;
    padding-bottom: 0%;
}
.sec6 h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    color: white;
    padding-bottom: 2%;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .box{
    background: #fff;
    width: calc(33% - 10px);
    padding: 25px;
    margin-bottom: 40px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  }
  .wrapper .box i.quote{
    font-size: 20px;
    color: #2d4263;
  }
  .wrapper .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .box .info .name{
    font-weight: 600;
    font-size: 17px;
  }
  .box .info .job{
    font-size: 16px;
    font-weight: 500;
    color: #2d4263;
  }
  .box .info .stars{
    margin-top: 2px;
  }
  .box .info .stars i{
    color: #2d4263;
  }
  .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: #2d4263;
    border-radius: 50%;
  }
  .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .box:hover .content .image img{
    border-color: #fff;
  }
  @media (max-width: 1045px) {
    .wrapper .box{
      width: calc(50% - 10px);
      margin: 10px 0;
    }
  }
  @media (max-width: 702px) {
    .wrapper .box{
      width: 100%;
    }
  }

  /* ---------------------------- sec7 ------------------------ */
  .sec7{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .sec7 h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    color: #2d4263;
    padding-bottom: .5%;
    
  }
  .sec7 h2{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #c84b31;
    padding-bottom: .5%;
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .slider{
    height: 100px;
    margin:15px auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
  .slider .slide-track{
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide{
    height: 100px;
    width: 250px;
  }
  .slider .slide img{
      height: 100px;
      width: auto;
  }
  
  @media screen and (min-width:1000px) and (max-width:1299px){
    .sec7 h2{
      font-size: 15px;
  }
  }
  @media screen and (min-width:600px) and (max-width:999px){
    .sec7 h2{
      font-size: 15px;
      width: 90%;
  }
  }
  
  @media screen and (max-width:599px){
    .sec7 h1{
      font-size: 40px;
    }
    .sec7 h2{
      font-size: 15px;
      width: 90%;
  }
}
@keyframes scroll{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(calc(-140px*10));
    }
  }

  /* ----------------------- footer ------------------- */

  footer{
    font-family: 'Raleway', sans-serif;
    margin-top: 3%;
    width: 100%;
    background-color: black;
  }
  footer .content{
    max-width: 1350px;
    padding:40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background-color: #c84b31;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #c84b31;
    transition: all 0.3s ease-in-out;
  }
  .content .right input[type="submit"]:hover{
    background: none;
    color:  #c84b31;
  }
  footer .content .media-icons a{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover{
    border-color: #eb2f06;
  }
  footer .bottom{
    width: 100%;
    text-align: center;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
  }
  footer .bottom a{
    color: #eb2f06;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #eb2f06;
  }
  @media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
  }
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
  }
  @media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }
  }